/**
* ! changing default styles of browser
**/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
    background-color: blue;
  }
  .container{
    margin-left: 300px;
    margin-top: 20px;
  }
/**
* ! style rules for form section
**/
   form{
    max-width: 400px;
    box-shadow: 5px 5px 4px  rgba(217, 106, 10, 0.5);
    padding: 50px;
   }
   .title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   form div input{
    width: 100%;
    border-radius: 8px;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
   }
   form div{
    margin-bottom: 15px;
    position: relative;
   }
   label{
    display: block;
    margin-bottom: 5px;
   }
   input:focus{
    border: 2px solid #f2796e;
   }
/**
* ! style rules for form icon
**/

  form div i{
    position: absolute;
    padding: 10px;
  }
  .failure-icon,
  .success-icon{
   right: 0;
   opacity: 0;
  }
  .failure-icon,
  .error{
    color: red;
  }
  .error{
   margin-top: 5px;
    font-size: 14px;
  }
  .success-icon{
    color: green;
  }
  /**
* ! style rules for button
**/

button{
    margin-top: 15px;
    width: 100%;
    right: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    transition: all 0.15 ease;
}
button:hover{
    opacity: 0.8;
}
/**
* ! style rules for media queries
**/

